%div.ui.container
  %h1
    Stamp for
    = @stamp.app.name
    = link_to "https://#{@stamp.app.link}" do
      %i.purple.external.small.icon
  %div.ui.basic.segment
    %div.ui.two.column.stackable.center.aligned.grid
      %div.ui.vertical.divider
        or
      %div.middle.aligned.row
        %div.column.flag-column
          = render 'stamps/flags/partials/flag_stamp', choose_me: true, operating_system: true, stamp: @stamp
        %div.column.flag-column
          = render 'stamps/flags/partials/flag_stamp', skip_card: true, stamp: @stamp
