%div.ui.container
  %h1
    Data Stamp for
    =# @stamp.domain.name
    =#%a{href: @stamp.domain.href}
    %i.purple.external.icon

  %div.ui.segment{style: 'padding-bottom: 3rem; margin-right: 29rem;'}
    = render 'partials/errors', object: @stamp, attached: true
    %table.ui.celled.table{style: 'margin-bottom: 1px;'}
      = form_for @stamp, html: {class: %w[ui form]} do |f|
        =# f.hidden_field :domain, value: params[:domain] || @stamp.domain.name
        %tbody
          %tr
            %td
              = f.label :internet, 'Internet'
              = f.check_box :internet, style: 'display: none;'
            %td
              = f.label :lan, 'LAN'
              = f.check_box :lan, style: 'display: none;'
            %td
              = f.label :localhost, 'Localhost'
              = f.check_box :localhost, style: 'display: none;'
          %tr
            %td.selected
              = radio_button_tag 'stamp[prompt_group]', 'prompt', true, style: 'display: none ;'
              = f.label :prompt_group, 'Prompt', value: 'prompt'
            %td
              = radio_button_tag 'stamp[prompt_group]', 'blacklist', false, style: 'display: none ;'
              = f.label :prompt_group, 'Blacklist', value: 'blacklist'
            %td
              = radio_button_tag 'stamp[prompt_group]', 'whitelist', false, style: 'display: none ;'
              = f.label :prompt_group, 'Whitelist', value: 'whitelist'
          %tr
            %td
              = f.label :p2p, 'P2P'
              = f.check_box :p2p, style: 'display: none;'
            %td
              = f.label :service, 'Service'
              = f.check_box :service, style: 'display: none;'
            %td{style: 'background-color: lightgray;'}
    %div.ui.bottom.right.attached.label{style: 'padding: 4px;'}
      =# f.submit 'Save', class: 'ui purple big basic button'
      %button.ui.purple.basic.big.button
        Cancel
:javascript
  $('input[type=checkbox]').change(function() {
    $(this).parent('td').toggleClass('selected', this.checked);
  });
  $('input[type=radio]').change(function() {
    $(this).closest('tr').children('td').removeClass('selected');
    $(this).parent('td').addClass('selected');
  });
