<span id='labels'>
  <div class='row'>
    <div class='col-12 pt-4 pb-4'>
      <h2><%= @label.name %></h2>
    </div>

    <div class='col-sm-12 col-md-5 offset-right-7'>
      <p><%= @label.description %></p>
    </div>

    <div class='col-sm-12 col-md-5 offset-right-1 mt-4'>
      <div class='row mb-3'>
        <div class='col-12'>
          <h5><%= image_tag 'stamp_j3rik0_no_text_icon', style: 'height: 0.8em;' %> In Progress</h5>
        </div>
      </div>

      <% if @label.stamps_in_progress.exists? %>
        <% @label.stamps_in_progress.each do |stamp| %>
          <div class='row label bg-light-2'>
            <div class='col-12 align-self-center'>
              <%= link_to stamp_path(stamp.id), class: 'default-color' do %>
                <%= fa_icon 'link' %>
                <%= stamp.domain.name %>

                <span style='float: right;'>
                  <%= stamp.percentage %>
                </span>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class='col-sm-12 col-md-5 offset-right-1 mt-4'>
      <div class='row mb-3'>
        <div class='col-12'>
          <h5>Top Contributors</h5>
        </div>
      </div>

      <% @label.top_contributors.each do |contributor| %>
        <div class='row label bg-light-2'>
          <div class='col-12 align-self-center'>
            <%= link_to user_path(contributor.creator_id), class: 'default-color' do %>
              <%= fa_icon 'user' %>
              <%# TODO - this is just wrong, include the user in the query %>
              <%= User.find(contributor.creator_id).username %>
            <% end %>
            <span style='float: right;'>
              <%= image_tag 'stamp_j3rik0_no_text_icon', style: 'height: 1em;' %>
              <%= contributor.count %>
            </span>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</span>
