%footer
  .ui.divider
  .ui.grid.center.aligned.stackable.container
    .ui.seven.wide.column
      - if user_signed_in?
        .ui.list
          = link_to 'All Domains', domains_path, class: 'item'
          = link_to 'All Apps', apps_path, class: 'item'
    .ui.two.wide.column
      %a{class: 'item img_item', href: '/'}
        %img.footer_stamp_img{src: '/assets/basic_logo.png'}
    .ui.seven.wide.column
      - if user_signed_in?
        .ui.list
          = link_to 'All Users', users_path, class: 'item'
          = link_to 'All Labels', labels_path, class: 'item'
          = link_to 'All Licence', licences_path, class: 'item'
      - else
        = link_to 'Sign In', new_user_session_path
