.ui.inverted.menu.header
  %a{class: 'item slim', href: '/'}
    %img{src: '/assets/basic_logo.png'}
    %h2{type: 'text'}
      Stamp
  .ui.simple.inverted.dropdown.item
    Guides
    %i.dropdown.icon
    .menu
      = link_to 'Tour', tour_path, class: 'item'
      = link_to 'Label Stamps', label_stamps_guide_path, class: 'item'
  - if user_signed_in?
    .ui.simple.inverted.dropdown.item
      Go To...
      %i.dropdown.icon
      .menu
        = link_to 'Recents', label_stamp_index_path, class: 'item'
        = link_to 'All Domains', domains_path, class: 'item'
        = link_to 'All Apps', apps_path, class: 'item'

  .right.menu
    - if user_signed_in?
      .ui.simple.icon.top.right.dropdown.item
        - if current_user.activities.exists?
          %i.inbox.green.icon
          = current_user.activities.count
          .menu
            - current_user.activities.order(created_at: :desc).limit(10).each do |activity|
              .item
                .ui.feed
                  .event
                    .content
                      .date
                      = time_ago_in_words(activity.created_at)
                      ago
                      .summary
                        = render partial: "activities/#{activity.key}", locals: { activity: activity }
        - else
          %i.inbox.icon
      .ui.simple.icon.top.right.dropdown.item
        - if current_user.boosts.exists?
          - if current_user.boosts.order(created_at: :desc).limit(10).sum(:reputation).to_i > 0
            %i.trophy.green.icon
          - else
            %i.trophy.red.icon
          = current_user.boosts.count
          .menu
            - current_user.boosts.order(created_at: :desc).limit(10).each do |boost|
              .item
                .ui.feed
                  .event
                    = render partial: "boosts/boosts", locals: { boost: boost }
        - else
          %i.trophy.icon
      = link_to user_path(current_user), class: 'item' do
        %img.small_stamp{src: '/assets/stamp_j3rik0_no_text_icon.png'}
        = current_user.stamps.count
        .content
        %i.fitted.sort.icon
        = current_user.votes.count
        .content
        %i.fitted.linkify.icon
        = current_user.domains.count
      .ui.simple.inverted.dropdown.item
        %i.bars.icon
        .menu
          = link_to 'Profile', user_path(current_user), class: 'item'
          = link_to 'Sign Out', destroy_user_session_path, method: 'delete', class: 'item'
    - else
      = link_to 'Sign In', new_user_session_path, class: 'item'
