.ui.inverted.menu.header
  %a{class: 'item slim', href: '/'}
    %img{src: '/assets/basic_logo.png'}
    %h2{type: 'text'}
      Stamp
  - if user_signed_in?
    = link_to 'All Domains', domains_path, class: 'item'
    = link_to 'All Apps', apps_path, class: 'item'
  .menu

  .right.menu
    - if user_signed_in?
      %div.ui.item.slim
        %img.small_stamp{src: '/assets/stamp_j3rik0_no_text_icon.png'}
        = current_user.stamps.count
      %div.item.slim
        %i.sort.icon
        %div.content
          = current_user.votes.count
      %div.item.slim
        %i.linkify.icon
        %div.content
          = current_user.domains.count
      = link_to 'Profile', user_path(current_user), class: 'item'
      = link_to 'Sign Out', destroy_user_session_path, method: 'delete', class: 'item'
    - else
      = link_to 'Sign In', new_user_session_path, class: 'item'
