.ui.inverted.menu.header
  %a{class: 'item slim', href: '/'}
    %img{src: '/assets/basic_logo.png'}
    %h2{type: 'text'}
      Stamp
  .ui.simple.inverted.dropdown.item
    Guides
    %i.dropdown.icon
    .menu
      = link_to 'Tour', tour_path, class: 'item'
      = link_to 'Label Stamps', label_stamps_guide_path, class: 'item'
  - if user_signed_in?
    .ui.simple.inverted.dropdown.item
      Go To...
      %i.dropdown.icon
      .menu
        = link_to 'Recents', label_stamp_index_path, class: 'item'
        = link_to 'All Domains', domains_path, class: 'item'
        = link_to 'All Apps', apps_path, class: 'item'

  .right.menu
    - if user_signed_in?
      = link_to user_path(current_user), class: 'vertically fitted item' do
        %img{class: 'ui avatar image', src: '/assets/portmaster.png'}
        = fa_icon 'chess-king', size: '1x'
        = current_user.voting_power
        %span
          ⎮
        = current_user.reputation
        rep
      .ui.simple.icon.top.right.dropdown.item
        - if current_user.notifications.exists?
          %i.inbox.purple.large.icon
          = current_user.notifications.count
          .menu
            - current_user.notifications.order(created_at: :desc).each do |notification|
              .item
                %span.date
                  = time_ago_in_words(notification.created_at)
                  ago
                %span
                  = render partial: "notifications/#{notification.activity.key}", locals: { notification: notification }
                  = link_to notification.reference_type, notification.reference
                  of
                  = link_to notification.reference.stampable.name, notification.reference.stampable
        - else
          %i.inbox.grey.large.icon
      =#current_flow
      .ui.simple.inverted.dropdown.item
        %i.bars.icon
        .menu
          = link_to 'Profile', user_path(current_user), class: 'item'
          = link_to 'Sign Out', destroy_user_session_path, method: 'delete', class: 'item'
    - else
      = link_to 'Sign In', new_user_session_path, class: 'item'
