<% if @domain.stamps.send(title.parameterize.underscore).present? %>
  <% if local_assigns.fetch :header, true %>
    <h5 class='collapsible'>
      <% if collapsed ||= false %>
        <%= fa_icon('angle-down') %>
      <% else %>
        <%= fa_icon('angle-up') %>
      <% end %>
      &nbsp;
      <%= title %>
    </h5>
  <% end %>
  <span class="<%= 'hidden' if collapsed %>">
    <% @domain.stamps.send(title.parameterize.underscore).order(percentage: :desc).each do |stamp| %>
      <%= render partial: 'partials/stamp', locals: { stamp: stamp, btn_class: btn_class ||= 'btn-info' } %>
    <% end %>
  </span>
<% end %>
