- header ||= nil; header_locals ||= nil
- footer ||= nil; footer_locals ||= nil

.col-8.col-sm-6.col-md-4.col-lg-3.pt-3.pb-3.window
  .border.rounded.p-4
    - if header
      = render partial: "#{controller_name}/partials/window/header", locals: header_locals
    .square.text-center
      .square-content.border
        .square-table
          .square-table-cell
            = render partial: "#{controller_name}/partials/window/displayed_item"
    - if footer
      = render partial: "#{controller_name}/partials/window/footer", locals: footer_locals
