.ui.simple.top.right.dropdown.item{data: {controller: 'notifications'}}
  - if notifications.unread.exists?
    %i.inbox.purple.large.icon
    = notifications.unread.count
  - else
    %i.inbox.grey.large.icon
  .menu
    - notifications.limit(10).each do |notification|
      .item
        %span.ui.grey.text
          = time_ago_in_words(notification.created_at)
          ago
        %span
          = render partial: "notifications/#{notification.activity.key}", locals: { notification: notification }
          = link_to notification.reference_type, notification.reference
          of
          = link_to notification.reference.stampable.name, notification.reference.stampable
