%div.ui.grid.container
  %div.sixteen.wide.column
    %h1.header
      New Stamp for
      = @stamp.domain.name
      %a{href: @stamp.domain.href}
        %i.purple.external.icon
    %div.ui.divider{style: "margin-bottom: -5px;"}
  %div.nine.wide.column
    %div.ui.basic.segment
      %h3{style: "margin-bottom: 2rem;"}
        Label:
        %button.ui.grey.basic.tiny.button{style: "margin-bottom: 1rem; padding: 6px; background-color: #E8E8E8 !important; "}
          Animals
      %div.ui.basic.segment{style: "padding: 0;"}
        %button.ui.purple.basic.button{style: "margin-bottom: 1rem; padding: 6px; background-color: #FFE3FF !important; "}
          Spam

        %button.ui.grey.basic.button{style: "margin-bottom: 1rem; padding: 6px; background-color: #E8E8E8 !important; "}
          Management
        %button.ui.grey.basic.button{style: "margin-bottom: 1rem; padding: 6px; background-color: #E8E8E8 !important; "}
          Business
        %button.ui.teal.basic.button{style: "margin-bottom: 1rem; padding: 6px; background-color: #c3ffff !important; "}
          ADS
        %button.ui.grey.basic.button{style: "margin-bottom: 1rem; padding: 6px; background-color: #E8E8E8 !important; "}
          Animals
        %button.ui.purple.basic.button{style: "margin-bottom: 1rem; padding: 6px; background-color: #FFE3FF !important; "}
          Anime
        %button.ui.purple.basic.button{style: "margin-bottom: 1rem; padding: 6px; background-color: #FFE3FF !important; "}
          E-sport
        %button.ui.purple.basic.button{style: "margin-bottom: 1rem; padding: 6px; background-color: #FFE3FF !important; "}
          News
        %button.ui.purple.basic.button{style: "margin-bottom: 1rem; padding: 6px; background-color: #FFE3FF !important; "}
          lala
      %div.ui.right.aligned.basic.segment
        %div.ui.relaxed.horizontal.list{style: "border-top: 1px solid rgba(34, 36, 38, 0.15);"}
          %div.item
            %h6.ui.purple.header
              New Stamp
          %div.item
            %h6.ui.teal.header
              Re Stamp
          %div.item
            %h6.ui.grey.header
              Active Stamp
    %div.ui.grid
      %div.fourteen.wide.column
        %div.ui.purple.range#stamp_range
        %input#stamp_range_input{type:"hidden"}
      %div.two.wide.column
        %span#stamp_range_display
    %div.ui.basic.segment
      %h3
        Comment
      %div.ui.divider
        %form.ui.form
          %div.field
            %textarea
            %button.ui.purple.basic.big.button{style: "margin-bottom: 1rem; padding: 6px; box-shadow: 0px 0px 2px 2px #A333C8 inset !important; "}
              Create Stamp
  %div.six.wide.right.floated.column
    - if @stamp.siblings.exists?
      %div.ui.basic.segment{style: "margin-bottom: -22px;"}
        %h3
          Other Stamps of this domain
          %div.ui.divider
        %div.ui.grid
          - @stamp.siblings.accepted.each do |sibling|
            %div.four.wide.column
              %h5.ui.middle.aligned.header
                = sibling.label.name
            %div.twelve.wide.column
              %div.bar.float.right
                %div.ui.purple.small.progress{style: "background: white;"}
                  %div.bar{style: "width: #{sibling.percentage}%; z-index: 10; "}
                    %div.progress
                      = sibling.percentage
                      \%
                %div.ui.teal.small.progress{style: "background: white;"}
                  %div.bar.bartwo{style: "width: 49%; margin-top: -39px;"}
    %div.ui.basic.segment
      - if @stamp.siblings.exists?
        %h3
          Suggested
          %div.ui.divider{ style: "margin-top: 0px;"}
        %div.ui.grid
          - @stamp.siblings.in_progress.each do |sibling|
            %div.four.wide.column
              %h5.ui.middle.aligned.header
                = sibling.label.name
            %div.twelve.wide.column
              %div.bar.float.right
                %div.ui.teal.small.progress{style: "background: white;"}
                  %div.bar{style: "width: #{sibling.percentage}%; z-index: 10; "}
                    %div.progress
                      = sibling.percentage
                      \%
