<span id='stamps'>
  <div class='row'>
    <div class='col-sm-4 col-md-2 text-center'>
      <%= image_tag 'stamp_intro_j3rik0_no_stamp.png', style: 'height: 100px;' %>
    </div>
    <div class='col-sm-8 col-md-5 align-self-center'>
      <h2>
        <%= link_to domain_path(@stamp.stampable.name), class: 'default-color' do %>
          <%= fa_icon 'link' %>
          <%= @stamp.stampable.name %>
        <% end %>
      </h2>
    </div>
    <div class='col-sm-4 col-md-2 align-self-center text-center'>
      <%= image_tag 'stamp_j3rik0_no_text_icon.png' %>
    </div>
    <div class='col-sm-8 col-md-3 align-self-center'>
      <%= link_to label_path(@stamp.label), class: 'btn btn-primary' do %>
        <%= @stamp.label.name %>
        &nbsp;&nbsp;&nbsp;
        <%= @stamp.percentage %><i class='fas fa-percent' data-fa-transform='shrink-6 left-2'></i>
      <% end %>
    </div>
  </div>

  <div class='row'>
    <div class='col-4 offset-right-4'>
      <%= @stamp.state %>
    </div>

    <div class='col-4'>
      <h5>Created by</h5>
      <div class='row border rounded'>
        <div class='col-4 align-self-center'>
          <%= render partial: 'users/partials/profile_image', locals: { size: '3x' } %>
        </div>
        <div class='col-8'>
          <div class='row'>
            <div class='col-12 lead'>
              <%= link_to user_path(@stamp.creator), class: 'default-color' do %>
                <%= @stamp.creator.username %>
              <% end %>
            </div>
          </div>
          <div class='row reputation-holder'>
            <div class='col-4 voting-power'>
              💪 <%= @stamp.creator.voting_power %>
            </div>
            <div class='col-8'>
              <%= @stamp.creator.reputation %> <span class='small text-muted'>REP</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class='col-6'>
      <div class='row collapsible'>
        <div class='col-1'>
          <%= fa_icon('angle-down') %>
        </div>
        <div class='col-1'>
          <%= render partial: 'votes/partials/upvote', locals: { power: @stamp.upvote_power }  %>
        </div>
        <div class='col-10'>
          <h5>
            Upvotes
          </h5>
        </div>
      </div>
      <span class='hidden'>
        <% @stamp.upvotes.ordered.each do |upvote| %>
        <div class='row'>
          <div class='col-1'>
            <%= render partial: 'votes/partials/upvote', locals: { power: upvote.power }  %>
          </div>
          <div class='col-11 align-self-center'>
            <%= link_to user_path(upvote.user), class: 'default-color' do %>
              <%= upvote.user.username %>
            <% end %>
          </div>
        </div>
        <% end %>
      </span>
    </div>

    <div class='col-6'>
      <div class='row collapsible'>
        <div class='col-1'>
          <%= fa_icon('angle-down') %>
        </div>
        <div class='col-1'>
          <%= render partial: 'votes/partials/downvote', locals: { power: @stamp.downvote_power }  %>
        </div>
        <div class='col-10'>
          <h5>
            Downvotes
          </h5>
        </div>
      </div>

      <span class='hidden'>
        <% @stamp.downvotes.ordered.each do |downvote| %>
          <div class='row'>
            <div class='col-1'>
              <%= render partial: 'votes/partials/downvote', locals: { power: downvote.power }  %>
            </div>
            <div class='col-11 align-self-center'>
              <%= link_to user_path(downvote.user), class: 'default-color' do %>
                <%= downvote.user.username %>
              <% end %>
            </div>
          </div>
        <% end %>
      </span>
    </div>
  </div>
</span>
