%span#stamps
  .row
    = render partial: 'partials/window', locals: { path: 'stamps', header: true, footer: true }
  .row.second
    .col-4.offset-right-4
      .row
        .col-12
          %h5 State
        .col-12
          %button.btn.btn-info{:type => "button"}
            = @stamp.state.titleize
    .col-4
      .row
        .col-12
          %h5 Created by
      .row.border.rounded
        .col-4.align-self-center
          = render partial: 'users/partials/profile_image', locals: { size: '3x' }
        .col-8
          .row
            .col-12.lead.pb-2
              = link_to user_path(@stamp.creator), class: 'default-color' do
                = @stamp.creator.username
            = render partial: 'users/partials/power_rep', locals: { user: @stamp.creator }
  .row
    .col-6
      .row.collapsible
        .col-1
          = fa_icon('angle-down')
        .col-1
          = render partial: 'votes/partials/upvote', locals: { power: @stamp.upvote_power }
        .col-10
          %h5
            Upvotes
      %span.hidden
        .row
          - @stamp.upvotes.ordered.each do |upvote|
            .col-1.pt-2
              = render partial: 'votes/partials/upvote', locals: { power: upvote.power }
            .col-11.pt-2.align-self-center
              = link_to user_path(upvote.user), class: 'default-color' do
                = upvote.user.username
    .col-6
      .row.collapsible
        .col-1
          = fa_icon('angle-down')
        .col-1
          = render partial: 'votes/partials/downvote', locals: { power: @stamp.downvote_power }
        .col-10
          %h5
            Downvotes
      %span.hidden
        .row
          - @stamp.downvotes.ordered.each do |downvote|
            .col-1.pt-2
              = render partial: 'votes/partials/downvote', locals: { power: downvote.power }
            .col-11.pt-2.align-self-center
              = link_to user_path(downvote.user), class: 'default-color' do
                = downvote.user.username
