%span#stamps
  .row
    = render partial: 'partials/window', locals: { header: true, footer: true }
    .col-9.col-md-5.col-lg-6
      .row
        .col-12.text-center
          %button.btn.btn-info{type: 'button'}
            = @stamp.state.titleize
    .col-12.col-md-3.col-lg-2
      .row
        %h5
          Created by
      .row
        .col-3.pl-0.d-flex.justify-content-center.align-items-center
          = link_to user_path(@stamp.creator), class: 'default-color' do
            = fa_icon 'user', style: 'font-size: 2.4em;'
        .col-9.pr-0.border-left
          .row.p-0
            .col-12
              = link_to user_path(@stamp.creator) do
                = @stamp.creator.username
          .row.p-0
            .col-12
              = @stamp.creator.reputation
              %span.small.text-muted REP
  .row
    .col-6{data: {controller: 'collapsible'}}
      .row.collapsible{data: {action: 'click->collapsible#toggle'}}
        .col-1
          = fa_icon('angle-down', data: {target: 'collapsible.angle'})
        .col-1
          = render partial: 'votes/partials/upvote', locals: { power: @stamp.upvote_power }
        .col-10
          %h5
            Upvotes
      %span.hidden{data: {target: 'collapsible.details'}}
        .row
          - @stamp.upvotes.ordered.each do |upvote|
            .col-1.pt-2
              = render partial: 'votes/partials/upvote', locals: { power: upvote.power }
            .col-11.pt-2.align-self-center
              = link_to user_path(upvote.user), class: 'default-color' do
                = upvote.user.username
    .col-6{data: {controller: 'collapsible'}}
      .row.collapsible{data: {action: 'click->collapsible#toggle'}}
        .col-1
          = fa_icon('angle-down', data: {target: 'collapsible.angle'})
        .col-1
          = render partial: 'votes/partials/downvote', locals: { power: @stamp.downvote_power }
        .col-10
          %h5
            Downvotes
      %span.hidden{data: {target: 'collapsible.details'}}
        .row
          - @stamp.downvotes.ordered.each do |downvote|
            .col-1.pt-2
              = render partial: 'votes/partials/downvote', locals: { power: downvote.power }
            .col-11.pt-2.align-self-center
              = link_to user_path(downvote.user), class: 'default-color' do
                = downvote.user.username
