<span id='users'>
  <div class='row'>
    <div class='col-sm-3 col-md-3'>
      <div class='profile-holder border rounded'>
        <%= render partial: 'users/partials/profile_image', locals: { size: '7x' } %>
        <%= render partial: 'users/partials/reputation_row', locals: { size: '7x', user: @user } %>
      </div>
    </div>

    <%= render partial: 'users/partials/description' %>
    <%= render partial: 'users/partials/stats' %>
  </div>

  <div class='row'>
    <div class='col-12'>
      <h4>Top Labels</h4>
    </div>
    <div class='col-5'>
      <% @user.top_labels.each do |label| %>
        <div class='row label bg-light-2'>
          <div class='col-12 align-self-center'>
            <%= link_to label_path(label) do %>
              <div class='btn btn-primary'>
                <%= label.name %>
              </div>
            <% end %>
            <span style='float: right;'>
              <%= image_tag 'stamp_j3rik0_no_text_icon', style: 'height: 1em;' %>
              <%= label.count %>
            </span>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</span>
