<span id='domains'>
  <div class='row'>
    <div class='col-10 offset-1 offset-right-1'>
      <h2><%= @domain.name %></h2>
    </div>
  </div>
  <div class='row'>
    <div class='col-4 offset-1'>
      <% @domain.stamps.order(percentage: :desc).each do |stamp| %>
        <button class='btn btn-info'>
          <%= stamp.label.name %>
          &nbsp;&nbsp;&nbsp;
          <%= stamp.percentage %><i class='fas fa-percent' data-fa-transform='shrink-6 left-2'></i>
        </button>
      <% end %>
    </div>
    <% if @domain.children.present? %>
      <div class='col-6 offset-right-1'>
        <h5>Subdomains</h5>
        <% @domain.children.order(name: :asc).each do |child| %>
          <%= link_to child.name, domain_path(child.name) %>
        <% end %>
      </div>
    <% end %>
    <% if @domain.parent.present? %>
      <div class='col-3 offset-right-1'>
        <h5>Top Level Domain</h5>
        <%= link_to @domain.parent.name, domain_path(@domain.parent.name) %>
      </div>
    <% end %>
  </div>
</span>
