<div id='domains' class='row'>
  <div class='col-10'>
    <h2><%= @domain.name %></h2>
  </div>
  <div class='col-md-6 col-sm-12'>
    <%= render partial: 'partials/stamp_group', locals: { title: 'Accepted', header: false, btn_class: 'btn-accepted' } %>
    <%= render partial: 'partials/stamp_group', locals: { title: 'In Progress' } %>
    <%= render partial: 'partials/stamp_group', locals: { title: 'Archived', collapsed: true, btn_class: 'btn-secondary' } %>
    <%= render partial: 'partials/stamp_group', locals: { title: 'Overruled', collapsed: true, btn_class: 'btn-secondary' } %>
    <%= render partial: 'partials/stamp_group', locals: { title: 'Denied', collapsed: true, btn_class: 'btn-denied' } %>
  </div>
  <% if @domain.children.present? %>
    <div class='col-md-6 col-sm-12'>
      <h5>Subdomains</h5>
      <% @domain.children.order(name: :asc).each do |child| %>
        <%= link_to child.name, domain_path(child.name) %><br>
      <% end %>
    </div>
  <% end %>
  <% if @domain.parent.present? %>
    <div class='col-md-6 col-sm-12'>
      <h5>Top Level Domain</h5>
      <%= link_to @domain.parent.name, domain_path(@domain.parent.name) %>
    </div>
  <% end %>
</div>
