.ui.container
  .ui.segment
    %h2
      = image_tag 'licence_icon', style: 'height: 1em;'
      = @licence.name
    %p= @licence.description
    %h5 used by
    - @licence.labels.each do |label|
      = link_to label_path(label), class: 'btn btn-info mr-2 mb-2' do
        = label.name
