.ui.segment
  %h2
    = image_tag 'licence_icon', class: 'ss'
    = @licence.name
  %p= @licence.description
  %h5 used by
  - @licence.labels.each do |label|
    = link_to label_path(label) do
      = label.name
