<div class='col-sm-12 col-md-3'>
  <div class='row'>
    <h5><%= fa_icon 'chart-bar', type: :regular %>&nbsp;&nbsp;Stats</h5>
  </div>
  <div class='row'>
    <div class='col-2 padding-0 text-center'>
      <%= image_tag 'stamp_j3rik0_no_text_icon', style: 'height: 1em;' %>
    </div>
    <div class='col-10'>
      <%= @user.stamps.count %>&nbsp;<span class='small text-muted'>stamps</span>
    </div>
  </div>
  <div class='row align-items-center'>
    <div class='col-2 padding-0 text-center'>
      <%= fa_icon 'sort', style: 'font-size: 1.3em;' %>
    </div>
    <div class='col-10'>
      <%= @user.votes.count %>&nbsp;<span class='small text-muted'>cast votes</span>
    </div>
  </div>
  <div class='row'>
    <div class='col-2 padding-0 text-center'>
      <%= fa_icon 'link', style: 'font-size: 1.1em;' %>
    </div>
    <div class='col-10'>
      <%= @user.domains.count %>&nbsp;<span class='small text-muted'>domains</span>
    </div>
  </div>
  <div class='row user-stats'>
    <h5><%= fa_icon 'user-check', style: 'font-size: 0.8em;' %>&nbsp;&nbsp;User</h5>
  </div>
  <div class='row align-items-center'>
    <div class='col-2 padding-0 text-center'>
      <%= fa_icon 'calendar-alt', style: 'font-size: 1em;' %>
    </div>
    <div class='col-10'>
      <%= time_ago_in_words @user.created_at %>&nbsp;<span class='small text-muted'>ago</span>
    </div>
  </div>
  <div class='row'>
    <div class='col-2 padding-0 text-center'>
      <%= fa_icon 'chart-pie', style: 'font-size: 1em;' %>
    </div>
    <div class='col-10'>
      67&nbsp;%&nbsp;<span class='small text-muted'>success rate</span>
    </div>
  </div>
</div>
