%div.ui.grid.container
  %div.six.wide.column
  %div.four.wide.column.some{ style: 'box-shadow: 0 20px 20px -20px #333' }
    = form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: %w[ui form header]}) do |f|
      %h1
        Log In
      %div.field
        = f.label :email
        %div.ui.left.icon.input
          = f.email_field :email, autofocus: true, class: %w[ui left icon input]
          %i.mail.icon
      %div.field
        = f.label :password
        %div.ui.left.icon.input
          = f.password_field :password, autocomplete: 'off', class: 'form-control'
          %i.lock.icon
      - if devise_mapping.rememberable?
        .ui.checkbox
          = f.check_box :remember_me
          = f.label :remember_me
      = f.submit 'Log in', class: 'ui purple submit button'
    = render 'devise/shared/links'
  %div.six.wide.column
