.row
  .twelve.wide.centered.column{style: 'font-size: 1.15em; padding: 3em 0 4em 0'}
    %h1.ui.center.aligned.huge.icon.header{style: 'padding-bottom: 1em;'}
      = image_tag 'stamp_j3rik0_no_text'
      .content Welcome to Stamp
    %p
      %b Stamp
      is a
      = link_to 'Community', forums_path, target: '_blank'
      , which crowd sources web & application intelligence. It is built and run by
      %i you.
      With your help, we're working together to become the backbone of
      = link_to 'Application Firewalls,', 'https://safing.io', target: '_blank'
      Ad-Blockers and other security & privacy related software.

    %p
      Here, we're only interested in generating and managing our data. To share ideas, discuss features & chit-chat head over to our
      = link_to 'Community Forums.', forums_path, target: '_blank'
.ui.divider

.row
  .seven.wide.middle.aligned.column
    %h1.ui.large.header Stamp a Domain

    %p We categorize the web.

    %p
      As an example, we tag domains that serve ads:
      "adservice.google.com" is a perfect example.

    %p
      This is an example of a stamp
      %b suggestion.
  .nine.wide.column
    = render partial: 'guides/partials/example_stamp'

.ui.divider

.row
  .seven.wide.middle.aligned.column
    %h2.ui.large.header Vote on Stamps

    %p
      While stamps are
      %span.ui.label.purple
        In Progress
      the community can vote whether to accept or deny the suggestion.
  .nine.wide.center.aligned.column
    = render partial: 'guides/partials/example_votes'

.ui.divider

.row
  .seven.wide.column
    %h2.ui.large.header Earn reputation

    %p
      If the stamp reaches a majority vote, the creator and all upvoters receive reputation while downvoters lose.
    %p
      If the stamp fails, the creator and upvoters lose while the downvoters gain reputation.
  .nine.wide.column
.ui.divider

.row
  .seven.wide.middle.aligned.column
    %h2.ui.large.header Gain privileges & power

    %p
      As you earn reputation, you'll increase your voting power, unlock new privileges, and gain access to new Stamp types.

    %p
      Also, your vote counts more the higher your reputation goes.
  .nine.wide.column
    = render partial: 'guides/partials/example_users'

-# row with call to action / sign up / create stamp
