<!DOCTYPE html>
<html>
  <head>
    <title>Stamp</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render partial: 'partials/header' %>

    <div class='container-fluid'>
      <div class='row'>
        <div class='container-fluid col-8 offset-2 offset-right-2 main-wrapper'>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
