!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Stamp
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = csrf_meta_tags
  %body
    = render partial: 'semantic/header'
    - if flash.count > 0
      %div.ui.grid.container
        .sixteen.wide.column
          - flash.each do |type, content|
            = render 'partials/flash', type: type, content: content
    = yield
