!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Stamp
    = stylesheet_link_tag    'devise', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render partial: 'partials/header'
    .container-fluid.fill
      - flash.each do |type, content|
        .container
          = render 'partials/flash', type: type, content: content
      .row.justify-content-center.align-content-center.fill
        .content-wrapper.form-group
          = yield
