<!DOCTYPE html>
<html>
  <head>
    <title>Stamp</title>
    <%= stylesheet_link_tag    'devise', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render partial: 'partials/header' %>

    <div class="container-fluid fill">
      <% flash.each do |type, content| %>
        <div class="container">
          <%= render 'partials/flash', type: type, content: content %>
        </div>
      <% end %>

      <div class="row justify-content-center align-content-center fill">
        <div class="content-wrapper form-group">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
